body{
    background-color: #B8B8B8;
}

#draw{
    width: 80%;
    /*margin-left: 20%;*/
}

#toolbar{
    height:100%;
    padding: 20px;
    margin: 20px;
    position: fixed;
    top: 50px;
}

#selection{
    position: fixed;
    right: 50px;
    top: 50px;
    width: 100px;
}


section.page {
    overflow: hidden;
    margin: auto;

    /*width: 510px;*/
    padding: 20px;
    min-height: 660px;
    margin-bottom: 25px;

    border-width: 1px;
    border-style: solid;
    border-color: #959595;

    background-color: #FFFFFF;

    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
}

.selected-page {
    border: 2px solid #4b8bf2 !important
}